[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/postech-compsec/swarmbox-PX4.git
[submodule "swarmbox_ws/src/px4_msgs"]
	path = swarmbox_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
